*
!ext
!ext/**
!src
!src/**
!demo
!demo/**
!include
!include/**
!tests
!tests/**
!build-tests
!build-tests/**
!examples
!examples/**
!.git*
!.clang-format
!*.yml
!*Makefile
!*.sublime-project
!LICENSE
!gh_rsa.enc
!README.md
